<h1>
  {{title}}
</h1>
<button (click)="connect()">Connect</button>
<label for="author">Author</label>
<input type="text" [(ngModel)]="author" id="author">
<label for="author">Message</label>
<input type="text" [(ngModel)]="message" id="message">
<button (click)="sendMsg()">Send Message</button>
{{response | json}}
<app-message *ngIf="isConnected"></app-message>